{% extends 'VRoomWebsiteBundle:Layout:base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="banner wrapper">
        <div class="quote left">
            <p>
                “Je soeurs avec mon keuka et à peine <br>
                deuheurs c’est l’heure” - Le Doigt
            </p>
        </div>
        <div class="slogan right">
            C’est l’heure de<br>
            démarrer !
        </div>
    </div>
    <div class="search">
        <div class="wrapper">
            <form action="#">
                <div class="left">
                    <label for="from">Départ :</label><input class="input" type="text" name="from" id="from">
                    <label for="to">Arrivée :</label><input class="input" type="text" name="to" id="to">
                    <label for="date">Date :</label><input class="input" type="date" name="date" id="date">
                </div>
                <div class="right">
                    <input class="btn btn-big" type="submit" name="submit" value="Rechercher">
                </div>
            </form>
        </div>
    </div>
    <div class="main-content">
        <div class="wrapper">
            <h1>Annonces</h1>
            <div class="left half">
                <h2>Près de chez vous</h2>
                {%  for ride in near %}
                    <article class="ride">
                        <a href="{{ path('profile', {'id': ride.user.id, 'name': ride.user.name}) }}"><img src="http://www.gravatar.com/avatar/{{ ride.user.hash }}?s=96&d=identicon" alt="" class="thumbnail"></a>
                        <a href="{{ path('offer_details', {'id': ride.id, 'start': ride.path.startCity.name, 'end': ride.path.endCity.name}) }}">
                            {{ ride.path.startCity.name }} - {{ ride.path.endCity.name }}
                        </a><br>
                        {{ ride.startDate | date('d-m-Y \\à G\\hi') }}<br>
                        {{ ride.user.name }}
                    </article>
                {% endfor %}
                {% if near is empty %}
                    Il n'y a pas de trajet près de chez vous.
                {% endif %}
            </div>
            <div class="right half">
                <h2>Prochains départs</h2>
                {%  for ride in next %}
                    <article class="ride">
                        <a href="{{ path('profile', {'id': ride.user.id, 'name': ride.user.name}) }}"><img src="http://www.gravatar.com/avatar/{{ ride.user.hash }}?s=96&d=identicon" alt="" class="thumbnail"></a>
                        <a href="{{ path('offer_details', {'id': ride.id, 'start': ride.path.startCity.name, 'end': ride.path.endCity.name}) }}">

                            {{ ride.path.startCity.name }} - {{ ride.path.endCity.name }}
                        <br>
                        {{ ride.startDate | date('d-m-Y \\à G\\hi') }}<br>
                        {{ ride.user.name }}</a>
                    </article>
                {% endfor %}
                {% if next is empty %}
                    Il n'y a pas de trajet enregistré.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}