{% extends 'VRoomWebsiteBundle:Layout:base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="main-content wrapper">
        <section class="summary">
            <div class="avatar-big">
                <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="avatar big">
            </div>
            <h1 class="username">Username</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, fugiat. Reprehenderit cupiditate officiis voluptas optio, dolore dolorem. Debitis dolorum, quos nam necessitatibus asperiores nobis. Illo praesentium debitis nostrum facilis, dolorum?
            </p>
        </section>
        <section class="stats">
            <div class="half">
                <h2>Annonces</h2>
                <article class="ride">
                    <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="" class="thumbnail">
                    Départ - Arrivée<br>
                    Date<br>
                    Nom
                </article>
                <article class="ride">
                    <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="" class="thumbnail">
                    Départ - Arrivée<br>
                    Date<br>
                    Nom
                </article>
                <article class="ride">
                    <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="" class="thumbnail">
                    Départ - Arrivée<br>
                    Date<br>
                    Nom
                </article>
            </div>
            <div class="half">
                <h2>Avis</h2>
                <article class="ride">
                    <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="" class="thumbnail">
                    <p>
                        <span class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</span>
                        Nom
                    </p>
                </article>
                <article class="ride">
                    <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="" class="thumbnail">
                    <p>
                        <span class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</span>
                        Nom
                    </p>
                </article>
                <article class="ride">
                    <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="" class="thumbnail">
                    <p>
                        <span class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</span>
                        Nom
                    </p>
                </article>
                <article class="ride">
                    <img src="{{ asset('bundles/VRoomWebsite/images/grey.svg') }}" alt="" class="thumbnail">
                    <p>
                        <span class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</span>
                        Nom
                    </p>
                </article>
            </div>
        </section>
    </div>
{% endblock %}