<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VRoom ~ {% block title %} {% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/VRoomWebsite/css/style.css') }}">
</head>
<body>
<div class="header">
    <div class="wrapper">
        <div class="left">
            <a href="{{ path('home') }}"><img class="header-logo" src="{{ asset('bundles/VRoomWebsite/images/vroom logo.png') }}" alt="logo"></a>
        </div>
        <div class="right">
            {% if not is_granted('ROLE_USER') %}
                <form action="{{ path('login_check') }}" method="post">
                    <label for="email">Email :</label>
                    <input class="input" type="email" name="_username" id="email">
                    <label for="password">Mot de passe :</label>
                    <input class="input" type="password" name="_password" id="password">
                    <input class="btn" type="submit" name="submit" value="Connexion">
                    <a class="btn" href="{{ path('register') }}">Inscription</a>
                </form>
            {% else %}
                <div class="right">
                    <a href="{{ path('profile', {'id': app.user.id, 'name': app.user.name}) }}"><img src="http://www.gravatar.com/avatar/{{ app.user.hash }}?s=64&d=retro" alt="avatar" class="avatar"><span class="username">{{ app.user.name }}</span></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{%  block content %}

{% endblock %}
<div class="clearfix"></div>
<div class="footer">
    <div class="wrapper">
        <div class="left">
            <img src="{{ asset('bundles/VRoomWebsite/images/vroom logo.png') }}" alt="logo">
        </div>
        <div class="right">
            <img src="{{ asset('bundles/VRoomWebsite/images/copyright.png') }}" alt="logo">
        </div>
    </div>
</div>
</body>
</html>